In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
df=pd.read_csv("Shark Tank India (impure).csv")
df.head()

,Season_Number,Startup_Name,Episode_Number,Pitch_Number,Season_Start,Season_End,Original_Air_Date,Episode_Title,Anchor,Industry,...,Peyush_Investment_Amount((in_lakhs),Amit_Investment_Amount(in_lakhs),Ashneer_Investment_Amount,Namita_Present,Vineeta_Present,Anupam_Present,Aman_Present,Peyush_Present,Amit_Present,Ashneer_Present
0,1,BluePineFoods,1,1,2021-12-20,2022-02-04,2021-12-20,Badlegi0Business0Ki0Tasveer,Rannvijay0Singh,Food,...,NaN,NaN,25.0,Yes,Yes,Yes,Yes,NaN,NaN,Yes
1,1,BoozScooters,1,2,2021-12-20,2022-02-04,2021-12-20,Badlegi0Business0Ki0Tasveer,Rannvijay0Singh,Vehicles/Electrical0Vehicles,...,NaN,NaN,20.0,Yes,Yes,Yes,Yes,NaN,NaN,Yes
2,1,HeartUpMySleeves,1,3,2021-12-20,2022-02-04,2021-12-20,Badlegi0Business0Ki0Tasveer,Rannvijay0Singh,Beauty/Fashion,...,NaN,NaN,NaN,Yes,Yes,Yes,Yes,NaN,NaN,Yes
3,1,TagzFoods,2,4,2021-12-20,2022-02-04,2021-12-21,"Insaan,0Ideas0Aur0Sapne",Rannvijay0Singh,Food,...,NaN,NaN,70.0,Yes,Yes,Yes,Yes,NaN,NaN,Yes
4,1,HeadAndHeart,2,5,2021-12-20,2022-02-04,2021-12-21,"Insaan,0Ideas0Aur0Sapne",Rannvijay0Singh,Education,...,NaN,NaN,NaN,Yes,Yes,Yes,Yes,NaN,NaN,Yes

In [13]:
df['Season_Start']=pd.to_datetime(df['Season_Start'])
df['Season_End']=pd.to_datetime(df['Season_End'])
df['Original_Air_Date']=pd.to_datetime(df['Original_Air_Date'])

In [14]:
df.shape

(478, 52)

In [15]:
df.isnull().sum()

Season_Number                            0
Startup_Name                             0
Episode_Number                           0
Pitch_Number                             0
Season_Start                             0
Season_End                               0
Original_Air_Date                       31
Episode_Title                            0
Anchor                                   0
Industry                                 0
Business_Description                     0
Company_Website                         12
Started_in                             123
Number_of_Presenters                     0
Male_Presenters                         66
Female_Presenters                      252
Transgender_Presenters                 475
Couple_Presenters                        5
Pitchers_Average_Age                     0
Pitchers_City                            5
Pitchers_State                           4
Yearly_Revenue(in_lakhs)               237
Monthly_Sales(in_lakhs)                253
Gross_Margin                           349
Net_Margin                             405
EBITDA                                 455
Cash_Burn                              414
SKUs                                   450
Has_Patents                            435
Bootstrapped                           430
Original_Ask_Amount                      0
Original_Offered_Equity(in_%)            0
Valuation_Requested(in_lakhs)            0
Received_Offer                           0
Accepted_Offer                         157
Total_Deal_Amount(in_lakhs)            210
Total_Deal_Equity(%)                   210
Number_of_Sharks_in_Deal               210
Namita_Investment_Amount(in lakhs)     389
Vineeta_Investment_Amount(in_lakhs)    410
Anupam_Investment_Amount(in_lakhs)     403
Aman_Investment_Amount(in_lakhs)       369
Peyush_Investment_Amount((in_lakhs)    389
Amit_Investment_Amount(in_lakhs)       443
Ashneer_Investment_Amount              457
Namita_Present                          89
Vineeta_Present                        160
Anupam_Present                          54
Aman_Present                            58
Peyush_Present                         171
Amit_Present                           341
Ashneer_Present                        379
dtype: int64

In [16]:
df.columns

Index(['Season_Number', 'Startup_Name', 'Episode_Number', 'Pitch_Number',
       'Season_Start', 'Season_End', 'Original_Air_Date', 'Episode_Title',
       'Anchor', 'Industry', 'Business_Description', 'Company_Website',
       'Started_in', 'Number_of_Presenters', 'Male_Presenters',
       'Female_Presenters', 'Transgender_Presenters', 'Couple_Presenters',
       'Pitchers_Average_Age', 'Pitchers_City', 'Pitchers_State',
       'Yearly_Revenue(in_lakhs)', 'Monthly_Sales(in_lakhs)', 'Gross_Margin',
       'Net_Margin', 'EBITDA', 'Cash_Burn', 'SKUs', 'Has_Patents',
       'Bootstrapped', 'Original_Ask_Amount', 'Original_Offered_Equity(in_%)',
       'Valuation_Requested(in_lakhs)', 'Received_Offer', 'Accepted_Offer',
       'Total_Deal_Amount(in_lakhs)', 'Total_Deal_Equity(%)',
       'Number_of_Sharks_in_Deal', 'Namita_Investment_Amount(in lakhs)',
       'Vineeta_Investment_Amount(in_lakhs)',
       'Anupam_Investment_Amount(in_lakhs)',
       'Aman_Investment_Amount(in_lakhs)',
       'Peyush_Investment_Amount((in_lakhs)',
       'Amit_Investment_Amount(in_lakhs)', 'Ashneer_Investment_Amount',
       'Namita_Present', 'Vineeta_Present', 'Anupam_Present', 'Aman_Present',
       'Peyush_Present', 'Amit_Present', 'Ashneer_Present'],
      dtype='object')

In [36]:
k=[]

for i in df.columns:
        m=i.replace("(","_")
        m=m.replace(")","_")
        k.append(m)

In [37]:
k

['Season_Number',
 'Startup_Name',
 'Episode_Number',
 'Pitch_Number',
 'Season_Start',
 'Season_End',
 'Original_Air_Date',
 'Episode_Title',
 'Anchor',
 'Industry',
 'Business_Description',
 'Company_Website',
 'Started_in',
 'Number_of_Presenters',
 'Male_Presenters',
 'Female_Presenters',
 'Transgender_Presenters',
 'Couple_Presenters',
 'Pitchers_Average_Age',
 'Pitchers_City',
 'Pitchers_State',
 'Yearly_Revenue_in_lakhs_',
 'Monthly_Sales_in_lakhs_',
 'Gross_Margin',
 'Net_Margin',
 'EBITDA',
 'Cash_Burn',
 'SKUs',
 'Has_Patents',
 'Bootstrapped',
 'Original_Ask_Amount',
 'Original_Offered_Equity_in_%_',
 'Valuation_Requested_in_lakhs_',
 'Received_Offer',
 'Accepted_Offer',
 'Total_Deal_Amount_in_lakhs_',
 'Total_Deal_Equity_%_',
 'Number_of_Sharks_in_Deal',
 'Namita_Investment_Amount_in lakhs_',
 'Vineeta_Investment_Amount_in_lakhs_',
 'Anupam_Investment_Amount_in_lakhs_',
 'Aman_Investment_Amount_in_lakhs_',
 'Peyush_Investment_Amount__in_lakhs_',
 'Amit_Investment_Amount_in_lakhs_',
 'Ashneer_Investment_Amount',
 'Namita_Present',
 'Vineeta_Present',
 'Anupam_Present',
 'Aman_Present',
 'Peyush_Present',
 'Amit_Present',
 'Ashneer_Present']

In [8]:
#Original_Air_Date --31

df.drop("Original_Air_Date",inplace=True,axis=1)

In [9]:
#Company_Website  --12
df.drop("Company_Website",inplace=True,axis=1)

In [10]:
df["Started_in"].value_counts()

2019.0    66
2020.0    63
2021.0    53
2018.0    41
2017.0    37
2022.0    31
2016.0    23
2023.0    15
2015.0     9
2014.0     6
2012.0     4
2013.0     2
2010.0     2
2005.0     1
1998.0     1
2006.0     1
Name: Started_in, dtype: int64

In [ ]:
#Started_in                             123